msi.iws
_make/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn

# Editor directories and files
.idea
nbproject
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# TYPO3
/Resources/Private/Frontend
/Resources/Public/*
!/Resources/Public/Icons
